###########################################
# Mongo / data access
###########################################
pymongo==4.7.2

###########################################
# CAD handling
###########################################
ezdxf==1.2.0

###########################################
# AutoCAD automation (Windows COM)
###########################################
pyautocad==0.2.0
pywin32==306
comtypes==1.4.5

###########################################
# Images (raster output, basic ops)
###########################################
pillow==10.3.0
opencv-python==4.9.0.80

###########################################
# Config / logging / utils
###########################################
python-dotenv==1.0.1
loguru==0.7.2
tqdm==4.66.4
